---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
{%- if page.data.seo -%}
{%- if page.data.seo.noindex == false -%}
<url>
{% if page.permalink %}
<loc>{{ settings.site.domain }}{{ page.permalink }}</loc>
{% else %}
<loc>{{ settings.site.domain }}{{ page.url | url }}</loc>
{% endif %}
<lastmod>{{ page.date | dateLastMod }}</lastmod>
</url>
{%- endif -%}
{% else %}
<url>
{% if page.permalink %}
<loc>{{ settings.site.domain }}{{ page.permalink }}</loc>
{% else %}
<loc>{{ settings.site.domain }}{{ page.url | url }}</loc>
{% endif %}
<lastmod>{{ page.date | dateLastMod }}</lastmod>
</url>
{%- endif %}
{%- endfor %}
</urlset>